/*Dasar*/



#wrapper {
    padding-top: 50px;
    border-top-style: dashed;
    border-color: white;
    width: 100%;
    text-align: left;
}


#footer {
    display: inline-block;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}
/*content about*/

#content {
    width: 85%;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 70px;
    margin-bottom: 30px;
    text-align: center;
    border-style: solid;
    border-color: white;
}

#icon {
    margin-left:45.5%;
    text-align: center;
    display: flex;
}

#icon a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  width: 10px;
  height: 10px;
}


#icon a:hover{
    background-color: white;
    color: white;
    text-align: center;
}

.is_dir .size {
    color:transparent;font-size:0;
}
.is_dir .size:before {
    content: "--"; font-size:14px;color:#333;
}
.is_dir .download {
    visibility: hidden
}
a.delete {
    display:inline-block;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAABaCAMAAAAPdrEwAAAAYFBMVEUAAAD/wMv/xdD/ws3krLa3i5PRn6j7v8rOm6SrgomFZGpRPUHpsbuJaW8nHR+WcXhfR0sdFhd9XmM8LS/0usREMzZmTVF2WV5wVFnJm6QRDQ29kpvYpK2lfYRYQkYjGxv6ptg0AAABt0lEQVRYhe3Z7Y6CMBAFUDsDFBFE5XvR5f3fcpHiRrAMtcVsspn7xwyGIxQEyux2a8kSv20blSAYPtrWTw+rK67lGAgAfA2A54jXCCj0QUhd5GIRvgcqBzqmZIHiaC3XQMn9Zt+s6RDHUe2P2m/uh3AcJ8ytaTkIGF/K8jSm7FNXl1DtDxSWckasnw+/CrUlfYDlvfYUnZhax7KKoiR9ZD/S6WuSkW6ni7Ml+SRhmsd/QxPUfocLe3GW5FlsEoRvLV2tnMUm0Zzp5xzdt3mIRJnN6W1kgRp6G7m3/wu9Web01dsui/9JznN8l7RnitZe5YxD3oWdLiRMM70dPV7KJoW2epuW/Sygz3V8PBuqUD2AoBcO1eQyb05jrJYVw53+ca++qCpSVehGq+cz2KsqUlXCNNNMM80000wzzbQr3X2OJid3TM+SM70l/fU5mpKZnifW0ObzRmNaSPXaTi3DXFX5pJLCjjaYowtb+s38Ge250EjSgQONNH1zaEVgQ9KZA73WfvStbfRoedcJ29Fe6PY8pSR7roRs0Ok9ocWYoFkPr2tR194mAnA17XwXaaPew5mluWmH+Qcr/jNihIMp4AAAAABJRU5ErkJggg==) no-repeat scroll 0 2px;
    color:#d00; 
    margin-left: 15px;
    padding:0 0 0 15px; 
    background-size: 11px;
}
.name {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd1Na9c-Z1m5h3Q7yRCALb9g-mqZhwyjR3173HmgN39pNwC-IK_Q) no-repeat scroll 0px 12px;
    padding:15px 0 10px 40px; 
    background-size: 25px;
}
.is_dir .name {
    background: url(http://iconbug.com/download/size/512/icon/1198/pink-folder/) no-repeat scroll 0px 10px;
    padding:15px 0 10px 40px; 
    background-size: 30px;

}
.download {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9yR9wa0hprzED4o-jyh0QiFLA-5OH2ic-ZkIvrbYLOwfQBe00uw) no-repeat scroll 0px 5px;
    padding:4px 0 4px 20px; 
    background-size: 20px;
}

.drop {
    background: url(https://www.pngrepo.com/png/244029/170/upload.png) no-repeat scroll 175px 10px;
    background-size: 30px;
    width:500px; 
    padding:10px;
    margin-bottom: 20px; 
    margin-left: 30%;
    border: 5px dashed #F08080;
    font-size:12px;color:white;
    text-align: center; 
}
.drop .drag_over {
    border: 4px dashed white; color: white;
}


body {
    font-family: Arial, Sagoe UI;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUu2eJO0wxVdskEYZ3PqakH5oNlpNoQKf8QMlaULV4-p2tfk3EbA");
    font-size: 14px;
    width:100%;
    padding:1em;
    margin:0;
}


th {
    font-weight: normal; 
    background-color:  #F08080;
    padding:.5em 1em .5em .2em;
    text-align: left;
    cursor:pointer;
    user-select: none;
    border: 3px white;
    border-collapse: collapse;

}

th .indicator {
    padding-top: 10px;
    margin-left: 6px 
    color: white;
}
thead {
    border: 1px solid white;
    max-width: 1024px;
    padding-top: 20px;
}

#mkdir {
    display: inline-block;
    float: left;
    padding-bottom: 20px;
}

label { 
    display:block; 
    font-size:14px; 
    color:white;
    text-align: center;
}

#upload_progress {
    padding: 30px 0;
}
#upload_progress .error {
    color:#a00;
}
#upload_progress > div { 
    padding:3px 0;
}
.no_write #mkdir, .no_write #file_drop_target {
    display: none
}
.progress_track {
    display:inline-block;width:200px;height:10px;border:1px solid #333;margin: 0 4px 0 10px;
}
.progress {
    background-color: #82CFFA;height:10px; 
}


#folder_actions {
    width: 50%;
    float:right;
}
a, a:visited { 
    color: white; text-decoration: none
}
a:hover {
    text-decoration: underline;
}
.sort_hide{ 
    display:none;
}

.table {
    padding-top: 30px;
    margin-top: 20px;
    border-collapse: collapse;
    width:100%;
    text-align: left;
}

tr, tbody {
    border: 1px solid white;
}

td { 
    padding: 10px; 
    height:30px; 
    font-size:13px; 
    white-space: nowrap;
    border: 1px solid white;
}
td.first {
    font-size:14px;white-space: normal;
}
td.empty { 
    color:#777; font-style: italic; text-align: left;padding:3em 0;
}
